<div class="card card-jetaid bg-transparent">
  <div class="card-body">

    <div class="row align-items-center justify-content-between bg-translucid rounded-lg py-2">
      <app-title-section 
        [title]="title()" 
        [iconRef]="this.iconRef()">
      </app-title-section>

      <div class="col-auto align-self-center my-sm-0 my-2 px-2">
        <div class="btn-group-vertical float-sm-right">
          <button class="btn btn-info btn-md btn-inline-block mr-2" 
                  type="submit"
                  (click)="changePassword()">
                  {{changePasswordButtonTitle()}}
          </button>
          <button class="btn btn-info btn-md btn-inline-block" 
                  (click)="back()">
                  {{backButtonTitle()}}
          </button>
        </div>   
      </div>
    </div>
  </div>

  <div class="card-body mt-1" FormGroupName="changePassword">
    <form [formGroup]="changePasswordGroup" (ngSubmit)="changePassword()">

      <div class="form-group row align-items-center bg-translucid rounded-lg py-2 mb-0">
        <div class="col">

          <div class="form-group row">
            <div class="col-sm-3 align-self-center">
              <strong>{{oldPasswordHeader()}}</strong>
            </div>

            <div class="col-sm-9">
              <input class="form-control" 
                      type="password" 
                      formControlName="oldPassword" 
                      placeholder=""
                      autocomplete="new-password">

              <div *ngIf="showOldPasswordError()"
                class="invalid-feedback d-block">
                {{oldPasswordError()}}
              </div>
            </div>
          </div>


          <div class="form-group row mt-2">
            <div class="col-sm-3 align-self-center">
              <strong>{{newPasswordHeader()}}</strong>
            </div>

            <div class="col-sm-9">
              <input class="form-control" 
                      type="password" 
                      formControlName="newPassword" 
                      placeholder="">

              <div *ngIf="showNewPasswordError()"
                class="invalid-feedback d-block">
                {{newPasswordError()}}
              </div>
            </div>
          </div>


          <div class="form-group row mt-2">
            <div class="col-sm-3 align-self-center">
              <strong>{{repeatPasswordHeader()}}</strong>
            </div>

            <div class="col-sm-9">
              <input class="form-control" 
                      type="password" 
                      formControlName="repeatPassword" 
                      placeholder="">
                      
              <div *ngIf="showRepeatPasswordError()"
                class="invalid-feedback d-block">
                {{repeatPasswordError()}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="form-group row mt-1 justify-content-center">
        <div class="btn-toolbar">

          <button class="btn btn-primary btn-md btn-inline-block mr-2" 
                  type="submit">
              {{changePasswordButtonTitle()}}
          </button>
          <button class="btn btn-secondary btn-md btn-inline-block" 
                  (click)="back()">
            {{backButtonTitle()}}
          </button>
        </div>
      </div> -->

    </form>
  </div>
</div>
