<div>
  <app-button-card
    *ngIf="this.goodToGo"
    [definer]="definer"
    [link]="this.link"
    (notifier)="handleConfirm($event)">
  </app-button-card>

  <app-message-section 
    *ngIf="!this.goodToGo"
    [definer]="this.definer"
    [title]="definer.labels.msgTitle"
    [subTitle]="definer.labels.msgText">
  </app-message-section > 

  <app-travelers-list
    [travelers]="this.travelers"
    [activeTravelerIds]="this.selectedTravelerIds"
    [definer]="this.definer"
    [selectable]="true"
    (selectNotifier)="handleSelect($event)">
  </app-travelers-list>
</div>

