<div class="card card-jetaid bg-transparent">
  <div class="card-body">
    <a routerLink="{{this.link}}" 
        class="text-decoration-none text-reset"
        id="link">

      <div class="row mt-0">
        <div class="col-auto pl-0 pr-2">
          <app-date-badge 
            [date]="this.rider.date">
          </app-date-badge>
        </div>

        <div class="col">
          <app-bound-summary-section 
            [rider]="this.rider">
          </app-bound-summary-section>
        </div>

      </div>
    </a> 
  </div>
</div>
