<div>

  <app-button-card
    *ngIf="this.readyToConfirm"
    [definer]="definer"
    [link]="this.link"
    (notifier)="this.handleConfirm($event)">
  </app-button-card>

  <app-message-section 
    *ngIf="!this.readyToConfirm"
    [definer]="this.definer"
    [title]="definer.labels.msgTitle"
    [subTitle]="definer.labels.msgText">
  </app-message-section > 

  <app-choice-list
    *ngIf="showChoices()"
    [options]="memberOptions"
    [link]="link"
    (notifier)="handleChoice($event)">
  </app-choice-list>

  <app-ride-member-card
    [extendedMember]="this.extendedMember"
    [definer]="this.definer"
    [manageable]="false"
    [confirmed]="this.readyToConfirm"
    [viewRide]="this.forSelf()"
    (notifier)="this.handleMemberNotice($event)">
  </app-ride-member-card>

  <app-new-message-card
    [definer]="this.definer"
    [messages]="this.extendedMember.messages"
    [newMessage]="this.extendedMember.newMessage"
    [confirmed]="this.readyToConfirm"
    [forSelf]="this.forSelf()"
    (notifier)="this.handleMessageNotice($event)">
  </app-new-message-card>

</div>