<div>
  <app-button-card
    *ngIf="this.goodToGo"
    [definer]="definer"
    [link]="this.link"
    (notifier)="handleConfirm($event)">
  </app-button-card>

  <app-message-section 
    *ngIf="!this.goodToGo"
    [definer]="this.definer"
    [title]="definer.labels.msgTitle"
    [subTitle]="definer.labels.msgText">
  </app-message-section > 

  <div>
    <app-rider-change-card
      [rider]="this.rider"
      [definer]="this.definer"
      (notifier)="this.handleRiderNotice($event)">
    </app-rider-change-card>
  </div>
</div>